body{
	background-color: #634511;
	text-align: center;
	margin: 2%;
}

h1{
	color: #ffffff;
	margin-top: 10%;
	margin-bottom: 5%;
}

p{
	color: #634511;
	font-weight: bold;
	font-size: 110%;
}

button{
	border-radius: 5%;
	color: #ffffff;
	background-color: #634511;
	margin: 2%;
	padding: 2%;
	border: 2% solid #634522;
	width: 40%;
}